<h1 mat-dialog-title>User Registration</h1>
<div mat-dialog-content>
  <form [formGroup]="registrationForm" class="fw">
    <div class="form-elements">
      <mat-form-field appearance="legacy" class="form-item">
        <mat-label>Name</mat-label>
        <input matInput />
      </mat-form-field>
    </div>
    <div class="form-elements">
      <mat-form-field appearance="legacy" class="form-item">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" required type="email" />
      </mat-form-field>
    </div>
    <div class="form-elements">
      <mat-form-field appearance="legacy" class="form-item">
        <mat-label>Password</mat-label>
        <input matInput formControlName="password" required type="password" />
      </mat-form-field>
    </div>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button
    mat-button
    cdkFocusInitial
    (click)="submit()"
    [disabled]="!registrationForm.valid"
  >
    Register
  </button>
</div>
