$body-white: #fafafa;
$black: #000000;
$white: #ffffff;
$base-grey: #cacaca;
$primary-black: #181f2e;
$secondary-black: #202a3f;
$primary-blue: #e2eef7;
$secondary-blue: #ebf4fb;
$highlighter-balack: #141a26;
